@import './reset.scss';
@import './variables.scss';
@import './responsive.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
    font-weight: 400;
}

/* Common style */
body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: $fs;
    line-height: 1.5;
    box-sizing: border-box;
}

h1, h2, h3{
    font-weight: 400;
    margin: $hm 0;
    @include mobile {
        margin: $hm-m 0;
    }
}

h1 { font-size: $h1; letter-spacing: 4px; }
h2 { font-size: $h2; }
h3 { font-size: $h3; }
@include tablet {
    h1 { font-size: $h1-t; }
    h2 { font-size: $h2-t; }
    h3 { font-size: $h3-t; }
}
@include mobile {
    h1 { font-size: $h1-m; }
    h2 { font-size: $h2-m; }
    h3 { font-size: $h3-m; }
}

p {
    margin: $cmu 0;
    @include mobile {
        margin: ($cmu - 5px) 0;
    }
}

a {
    color: $black;
}

/* Header */
.header {
    width: 100%;
    height: 100vh;
    background: url(../img/wedding_couple.jpg) center/cover no-repeat;
    position: relative;

    .header__title {
        margin: auto;
        text-align: center;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Navigation */
.nav {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    width: 100%;
    padding: $cpu ($cpu * 2);
    background-color: white;
    opacity: 0.7;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    
    a {
        display: block;
        width: 25%;
        padding: $cpu ($cpu * 2);
        @include mobile {
            padding: $cpu $cpu;
        }
        text-align: center;

        &:hover {
            background-color: $gray;
            cursor: pointer;
        }

        &:last-child {
            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }

    &:hover {
        opacity: 1;
    }

    @include mobile {
        display: none;
    }
}

/* Section 1: Jane & John */
.jnj {
    width: 100%;
    padding: ($cpu * 8) ($cpu * 2);
    background-color: $powederPink;

    .jnj__container {
        width: 50%;
        max-width: 100%;
        margin: 0 auto;
        @include tablet {
            width: 70%
        }
        @include mobile {
            width: 80%
        }

        h2 {
            text-align: center;
            color: $darkGray;
        }

        img {
            width: 100%;
            margin: ($cmu * 3) 0;
            border-radius: 10px;

            @include tablet {
                margin: ($cmu * 2) 0;
            }
            @include mobile {
                margin: $cmu 0;
            }
        }

        p {
            line-height: 2;

            &:last-child {
                text-align: center;
            }
        }

        a {
            display: inline-block;
            padding: ($cpu * 1.5) ($cpu * 3);
            background-color: $black;
            border: none;
            border-radius: 4px;
            font-size: $lfs;
            color: $white;

            @include mobile {
                margin: $cmu auto;
                padding: $cpu ($cpu * 2);
                font-size: $fs;
            }
        }
    }
}

/* Section 2: Invite */
.invite {
    width: 100%;
    height: 100vh;
    background: url('../img/flowers.jpg') center/cover no-repeat;
    position: relative;

    .invite__title {
        text-align: center;
        color: $white;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Section 3: Wedding */
.wedding {
    width: 100%;
    padding: ($cpu * 8) ($cpu * 2);
    background-color: $powederPink;

    .wedding__container {
        width: 50%;
        max-width: 100%;
        margin: 0 auto;
        @include tablet {
            width: 70%
        }
        @include mobile {
            width: 80%
        }

        h2 {
            text-align: center;
            color: $darkGray;
        }

        h3 {
            text-align: center;
        }

        img {
            width: 100%;
            margin: ($cmu * 3) 0;
            border-radius: 10px;

            @include tablet {
                margin: ($cmu * 2) 0;
            }
            @include mobile {
                margin: $cmu 0;
            }
        }

        p {
            text-align: center;
            line-height: 2;
        }

        .wedding__info {
            display: flex;
            flex-direction: row;
            flex: 1 0 auto;
            width: 100%;
            @include mobile {
                flex-direction: column;
            }

            .wedding__info__item {
                width: 50%;

                @include mobile {
                    width: 100%;
                }
            }
        }
    }
}

/* RSVP */
.rsvp {
    width: 100%;
    padding: ($cpu * 8) ($cpu * 2);
    background-color: $softPink;
    text-align: center;
    letter-spacing: 4px;
    
    p {
        margin: ($cmu + 3px) 0;
        font-size: $lfs;
        text-align: center;

        @include mobile {
            margin: $cmu 0;
            font-size: $fs;
        }

        &:last-of-type {
            margin: ($cmu + 9px) 0;
            font-size: $gfs;

            @include mobile {
                margin: ($cmu + 3px) 0;
                font-size: $lfs;
            }
        }

        input[type="button"] {
            display: inline-block;
            font-size: $gfs;
            padding: $cpu ($cpu * 8);
            background-color: $softRed;
            border: none;   
            border-radius: 4px;
            color: $white;
            line-height: 2;
            
            &:hover {
                cursor: pointer;
                background-color: $gray;
                color: $black;
            }
        }
    }
}

/* Floating join box */
.join-box {
    display: none;
    width: 100%;
    height: 100%;
    padding: ($cpu * 12) 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.join {
    width: 500px;
    max-width: 900px;
    margin: auto;
    padding: ($cpu * 4) ($cpu * 6);
    background-color: $white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    text-align: center;

    animation: zoomAppear 0.6s;
    @keyframes zoomAppear {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    h2 {
        letter-spacing: 4px;
    }
    
    p {
        line-height: 2;
    }

    input[type="text"] {
        width: 100%;
        padding: $cpu;
        border: 1px solid $gray;
        box-sizing: border-box;
        font-size: $fs;
        line-height: 1.5;
    }

    @include mobile {
        width: 300px;
        max-width: 400px;
        padding: ($cpu * 2) ($cpu * 4);
    }

    .join__response {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;

        input[type="button"] {
            width: 49.99%;
            padding: $cpu ($cpu * 2);
            border: none;
            font-size: $fs;
            color: $white;
            line-height: 1.5;

            &:first-child {
                background-color: green;
            }
            &:last-child {
                background-color: $red;
            }

            &:hover {
                cursor: pointer;
                background-color: $gray;
                color: $black;
            }
        }
    }
}

/* Footer */
.footer {
    width: 100%;
    padding: ($cpu * 2) 0;
    background-color: $black;
    color: $white;
    text-align: center;

    a {
        color: $white;
        text-decoration: underline;
    }
}

/* Empty Bottom Area */
.ba {
    width: 100%;
    background-color: $white;
    color: white;
}