@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}

/* 모바일 퍼스트 */
#wrap {width: 100%; /*height: 4384px;*/ margin: auto;}

#header {
    width: 100%; height: 120px;
    padding-top: 20px; box-sizing: border-box;
    text-align: center;
}

#lnb {width: 100%; height: 120px;}
#lnb ul li {width: 100%; height: 30px;}
#lnb ul li a {
    width: 100%; height: 100%;
    display: block; background-color: #222;
    color: #fff; text-align: center; line-height: 30px;
    transition: .5s;
}
#lnb ul li a:hover {background-color: darkred;}

#main_visual {
    width: 100%; height: 250px;
    background: url("../img/main_visual.jpg") no-repeat center /cover;
    margin-bottom: 10px;
}

.main_img {width: 94%; /*height: 423px;*/ margin: 0 auto 20px; position: relative;}
.main_img img {width: 100%; vertical-align: top;}
/* block 속성을 가진 태그(figure)에 높이가 없을 때
그 안에 inline 속성 요소가 들어가면 자식 요소만큼의 높이 외에 하단에 추가 간격이 생김.
자식 요소의 vertical-align 속성이 기본값인 baseline으로 되어있어 생기는 문제.
inline 속성 자식 요소의 vertical-align 속성을 top으로 바꿔주어 해결. */
.main_img a {
    width: 100%; height: 100%;
    display: block; position: absolute;
    left: 0; top: 0;
    opacity: 0; transition: .5s;
}
.main_img a:hover {opacity: 1;}
.main_img_caption {
    width: 100%; /* height: 200px; */
    background-color: rgba(0, 0, 0, .8);
    padding: 20px; box-sizing: border-box;
    position: absolute; bottom: 0;
    color: #fff; text-align: center;
}
.main_img_caption h4 {font-size: 20px; margin-bottom: 10px;}

#mobile_btn {width: 240px; height: 60px; margin: 50px auto;}
#mobile_btn ul li {width: 60px; height: 60px; float: left; margin-right: 30px;}
#mobile_btn ul li:last-child {margin-right: 0;}
#mobile_btn ul li a {width: 60px; height: 60px;
    display: block; background-color: #000; border-radius: 50%; 
    color: #fff; text-align: center; line-height: 60px; font-size: 20px;}
#mobile_btn ul li a span {
    /* display: block; text-indent: -9999px; */
    /* 문단 들여쓰기 속성으로, block 속성 요소에 적용 가능 */
    position: absolute; left: -9999px
}

#footer {
    width: 100%; background-color: #555;
    padding: 20px 10px; box-sizing: border-box;
}
#footer_logo {
    width: 100%; height: 60px;
    background: url("../img/footer_logo.png") no-repeat center /contain;
    margin-bottom: 10px;
}
#footer_logo span {display: block; text-indent: -9999px;}
#copyright {
    width: 100%;
    text-align: center; color: #fff; font-size: 14px;
}
#copyright span {margin: 0 10px;}
#copyright span:first-of-type,
#copyright span:nth-of-type(5),
#copyright span:last-of-type {margin-left: 0;}

/* 태블릿 버전 600 ~ 959 */
@media screen and (min-width: 600px) and (max-width: 959px) {
    #lnb {height: 30px;}
    #lnb ul li {width: 25%; float: left;}

    #main_visual {height: 300px; margin-bottom: 50px;}
    
    .main_img {width: 46%; margin: 0 2% 50px; float: left;}

    /* 모바일 말고는 전화 버튼 잘 안씀 */
    #mobile_btn {display: none;}
    
    /* .main_img 태그들을 감싸는 부모 박스가 없기 때문에,
    부모 박스의 뒤에 가상의 clear 박스를 만들어 줄 수 없다(#wrap::after에 만든다면 footer 뒤에 감).
    현재는 footer 박스에서 flaot을 clear해주는 게 최선 */
    #footer {clear: both; overflow: hidden;}
    /* 부모요소에 높이가 없는 경우 자식 요소가 float으로 떠 있으면 부모는 자식 높이를 인식 못함.
    부모 요소에 overflow: hidden을 적용하면 */
    #footer_logo {width: 20%; float: left; margin-right: 5%;}
    #copyright {width: 75%; float: left; text-align: left;}
}

/* 데스크톱 버전 (960 ~ ) */
@media screen and (min-width: 960px) {
    #wrap {width: 960px;}

    #header {text-align: left;}

    #lnb {height: 30px;}
    #lnb ul li {width: 25%; float: left;}

    #main_visual {height: 500px; margin-bottom: 50px;}

    .main_img {width: 225px; float: left; margin: 0 20px 50px 0;}
    .main_img:nth-of-type(4n) {margin-right: 0;}
    .main_img_caption h4 {
        font-size: 16px; white-space: nowrap;
        overflow: hidden; text-overflow: ellipsis;
    }
    .main_img_caption p {
        font-size: 12px; white-space: nowrap;
        overflow: hidden; text-overflow: ellipsis;
    }

    #mobile_btn {display: none;}

    #footer {clear: both; overflow: hidden;}
    #footer_logo {width: 200px; float: left; margin-right: 20px;}
    #copyright {width: 700px; float: left; text-align: left;}
}