* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

ol, ul {
    list-style: none;
}

header, article, section, footer, div {
    display: block;
}