$lightGray: #f1f1f1;
$gray: #ccc;
$darkGray: #616161;
$gray2: #9e9e9e;
$white: #fff;
$black: #000;
$coralGreen: #009688;

$pixelUnit: 16px;
$pixelUnit-small: 12px;
$pixelUnit-smallest: 8px;
$pixelUnit-large: 24px;
$pixelUnit-largest: 32px;

$fontSize: 15px;
$fontSize-small: 12px;
$fontSize-smallest: 6px;
$fontSize-large: 24px;
$fontSize-largest: 36px;

$itemSize: 400px;
$itemSize-tab: 350px;
$itemSize-desktop: 400px;

$sideBarWidth: 300px;