$mainWidth: 1200px;
$mainWidth-tab: 700px;
$mainWidth-mob: 480px;

$commonMargin-vertical: 15px;
$commonMargin-vertical-tab: 10px;
$commonMargin-vertical-mob: 5px;
$commonPadding-vertical: 32px; // even number only
$commonPadding-vertical-tab: 24px; // even number only
$commonPadding-vertical-mob: 16px; //  even number only
$commonPadding-horizontal: 8px; //  even number only
$commonPadding-horizontal-tab: 6px; //  even number only
$commonPadding-horizontal-mob: 4px; //  even number only

$specialMargin-main-top: 100px;
$specialMargin-main-top-tab: 60px;
$specialMargin-main-top-mob: 40px;
$specialMargin-foodItem-bottom: 32px;
$specialMargin-foodItem-bottom-tab: 24px;
$specialMargin-foodItem-bottom-mob: 16px;
$specialMargin-blogImg-right: 16px;
$specialMargin-blogImg-right-tab: 8px;
$specialMargin-blogImg-right-mob: 10px;
$specialMargin-tags-bottom: 16px;
$specialMargin-tags-bottom-tab: 8px;
$specialMargin-tags-bottom-mob: 4px;

$specialPadding-navButton: 20px;
$specialPadding-navButton-tab: 15px;
$specialPadding-navButton-mob: 10px;

$fontSize: 15px;
$fontSize-tab: 12px;
$fontSize-mob: 9px;
$hFontSize: 24px;
$hFontSize-tab: 20px;
$hFontSize-mob: 16px;

$gray1: #eee;
$gray2: #ccc;
$gray3: #616161;