@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
body {font-family: 'Noto Sans KR', sans-serif;}
ul {list-style: none;}
a {text-decoration: none;}

.center_wrap {width: 100%; background-color: rgba(0, 0, 0, .1);
    padding: 0 15px; box-sizing: border-box;}
.center_wrap h2 {margin-bottom: 24px; font-size: 26px; font-weight: normal;}
.center_wrap h2 span {font-weight: 900;}

/* header */
#header {width: 360px; height: 126px; background-color: rgba(255,0,0,.1);
    position: fixed; left: 0; top: 0;}
#header .center_wrap {padding-top: 7px; box-sizing: border-box; position: relative;}
#top_logo {width: 47px; height: 47px; margin: auto;}
#top_logo img {width: 100%;}

#m_menu_btn {width: 30px; height: 30px; background-color: rgba(0, 0, 0, .1);
    position: absolute; left: 15px; top: 15px;}
#m_basket_btn {width: 30px; height: 30px; background-color: rgba(0, 0, 0, .1);
    position: absolute; right: 15px; top: 15px;}
#m_menu_btn,
#m_basket_btn {text-align: center;}
#m_menu_btn a,
#m_basket_btn a {color: #000; font-size: 20px;}
#m_menu_btn span,
#m_basket_btn span {display: block; text-indent: -9999px;}
#m_smile_btn {width: 100%; position: absolute; left: 0; top: 60px;}
#m_smile_btn img {width: 100%;}

#main_visual {
    width: 360px; height: 548px;
    background: url("../img/visual_img_m.jpg") no-repeat center /contain;
    padding-top: 126px;}

#notice {width: 360px; height: 60px; background-color: rgba(0, 0, 255, .1);}
#notice_box {
    width: 100%; height: 100%;
    background: url("../img/notice_icon.png") no-repeat left 14px;
    padding-left: 50px; box-sizing: border-box;
    font-size: 14px; overflow: hidden;
}
#notice_box ul li {line-height: 60px;}
#notice_box ul li:nth-child(2) {display: none;}
.notice_recent_title {
    width: 163px; float: left;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.notice_recent_date {width: 72px; float: left;}
.notice_recent_more {width: 17px; float: left;}

#toms_menu {width: 360px; height: 630px; background-color: rgba(255, 0, 255, .1);
    text-align: center; padding: 70px 0 80px; box-sizing: border-box;}
#toms_menu ul li {width: 100%;}
.toms_menu_slide_img img {width: 100%; margin-bottom: 38px;}
.toms_menu_slide_caption {font-size: 18px;}
#toms_menu ul li:nth-child(2),
#toms_menu ul li:nth-child(3) {display: none;}

#toms_about {width: 360px; height: 620px; background-color: rgba(255, 255, 0, .1);
    text-align: center; padding-top: 70px; box-sizing: border-box;}
h2.toms_about_title {font-size: 18px;}
h2.toms_about_title span {font-size: 26px;}
.toms_about_cont {font-size: 14px; line-height: 1.8; margin-bottom: 50px;}
#toms_about_btn {width: 300px; margin: auto;}
#toms_about_btn ul li {width: 145px; height: 45px; background-color: rgba(0, 0, 0, .1);
    float: left;}
#toms_about_btn ul li:first-child {width: 300px; margin-bottom: 10px;}
#toms_about_btn ul li:nth-child(2) {margin-right: 10px;}
#toms_about_btn ul li a {
    width: 100%; height: 100%;
    display: block; box-sizing: border-box;
    background-color: #ece0db; border: 1px solid #572a31;
    text-align: center; line-height: 45px;
    font-size: 18px; font-weight: 700; color: #572a31;
}
#toms_about_btn ul li a#branch_btn {background-color: #572a31; color: #fff;}

#toms_md {width: 360px; height: 600px; background-color: rgba(0, 255, 255, .1);
    text-align: center; padding: 70px 0 40px; box-sizing: border-box;}
#toms_md ul li {width: 100%;}
.mdp_slide_img img {width: 100%; margin-bottom: 38px;}
.mdp_slide_caption {font-size: 18px;}
#toms_md ul li:nth-child(2),
#toms_md ul li:nth-child(3) {display: none;}

#toms_sns {width: 360px; height: 610px; background-color: rgba(0, 255, 0, .1);
    text-align: center; padding-top: 35px; box-sizing: border-box;}
#toms_sns .center_wrap {overflow: hidden;}
#toms_sns ul li {width: 33.33%; height: 100px; float: left;}
#toms_sns ul li img {
    width: 100%; height: 100%;
    object-fit: cover;
    /* object-fit: background-size와 비슷하게
    img 또는 video 태그를 block 속성 태그에 넣었을 때,
    비율이 안맞는 경우 채우는 방식을 변경해주는 속성(CSS3, IE 적용 X). */
}

#chatbot {width: 80px; height: 80px; position: fixed; right: 10px; bottom: 110px;}
#chatbot img {width: 100%;}
#gotop {width: 45px; height: 45px; position: fixed; right: 10px; bottom: 50px;}
#gotop a {
    width: 45px; height: 45px; display: block;
    background-color: rgba(0, 0, 0, .8); color: #fff;
    text-align: center; line-height: 45px; font-size: 20px;
}
#gotop a:hover {background-color: #000;}
#gotop a span {display: block; text-indent: -9999px;}

#footer {width: 360px; height: 580px; background-color: rgba(255, 0, 0, .1);
    padding: 50px 0; box-sizing: border-box;}
#footer h3 {font-size: 14px; font-weight: normal;}

#follow {margin-bottom: 30px;}
#follow h3 {float: left; margin-right: 10px; line-height: 30px;}
#follow ul li {width: 30px; height: 30px; float: left; margin-right: 7px;}
#follow ul li img {width: 30px; height: 30px;}
#follow::after {content: ""; display: block; clear: both;}

#language {margin-bottom: 30px;}
#language ul li {display: inline-block; margin-right: 5px;}
#language ul li a {color: #000; letter-spacing: -1px; font-weight: 700;}

#customer {margin-bottom: 30px;}
#customer a {color: #572a31; font-size: 26px; font-weight: 300; letter-spacing: -1px;}

#fnb {margin-bottom: 40px;}
#fnb ul li {font-size: 14px; float: left;}
#fnb ul li:nth-child(4),
#fnb ul li:nth-child(7) {clear: both;}
/* 4, 7번째 요소에서 줄 바꿈 해주려고 clear: both; */
#fnb ul li:nth-child(3)::after,
#fnb ul li:nth-child(6)::after,
#fnb ul li:last-child::after {content: "";}
#fnb ul li::after {content: "·"; margin: 0 5px;}
#fnb ul li a {color: #572a31;}
#fnb::after {content: ""; display: block; clear: both;}

#company {margin-bottom: 20px; font-size: 12px;
    font-style: normal; line-height: 1.5; color: #8a8a8a;}
/* address 태그(시맨틱 태그)는 기본 이탤릭체. 초기화하려면 font-style: normal; */
#company span {margin-right: 10px;}

#copyright {font-size: 12px; color: #8a8a8a;}